@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

body{
  background-color: #ececec;
}

.container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 40px;
}

.mainBox{
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 600px;
  max-height: 600px;
}

.box{
  height:400px;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box > ul {
  background-color: #fff;
  display: block;
  position: relative;
  width: 380px;
  height: 100px;
  list-style: none;
  margin: 0 auto;
  border: 1px solid black;
  border-radius: 4px;
}

.box > ul > li{
  padding: 5px;
  font-size: 0.9em;
}