.container-slider{
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.section-slider{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.section-slider > span{
  font-weight: bold;
  text-transform: capitalize;
  font-size: 1.1em;
}


